:root {
  --desaturated-red: hsl(0, 36%, 70%);
  --soft-red: hsl(0, 93%, 68%);

  /* --linear, 135deg, from hsl(0, 0%, 100%), to hsl(0, 100%, 98%);
  --linear, 135deg, from hsl(0, 80%, 86%), to hsl(0, 74%, 74%); */
}

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Josefin Sans', sans-serif;
  font-size: 1rem;
  min-height: 100vh;
  height: 100%;
  background: linear-gradient(135deg, hsl(0, 0%, 100%), hsl(0, 100%, 98%));
}

.content-width {
  padding: 1.85em;
}

/* Header ------------------------- */
header img.logo {
  width: 6.25em;
}

/* Featured Image ------------------*/
.image-wrap  {
  width: 100%;
  height: 15.625em;
  background-image: url(./images/hero-mobile.jpg);
  background-size: cover;
}

/* Content ------------------------ */
.content .title {
  margin-top: 3.125rem;
  text-align: center;
  letter-spacing: 1rem;
  font-weight: 600;
}

.content .title span {
  font-weight: 300;
  color: var(--desaturated-red);
}

.content .description {
  margin-top: 1.5rem;
  text-align: center;
  color: var(--desaturated-red);
  line-height: 1.5rem;
}

/* Form --------------------------- */
form {
  margin: 2.25rem 0;
}

.form-wrap {
  display: flex;
  align-items: center;
  position: relative;
}

.form-wrap.error::after {
  content: url(./images/icon-error.svg);
  position: absolute;
  right: 5.5rem;
  width: 1.5rem;
  height: 1.5rem;
}

.form-wrap input {
  flex: 1;
  margin-right: 1rem;
  height: 3rem;
  border: 1px solid var(--desaturated-red);
  border-radius: 1.5rem;
  background: transparent;
  padding: 0 5rem 0 1.5rem;
  transition: all .4s;
}

.form-wrap.error input {
  border: 2px solid var(--soft-red);
  padding-right: 7rem;
}

.form-wrap input::placeholder {
  color: var(--desaturated-red);
  opacity: .6;
}

.form-wrap button {
  position: absolute;
  right: 7px;
  width: 4.125rem;
  height: 3.125rem;
  border-radius: 1.5rem;
  border: none;
  background: linear-gradient(135deg, hsl(0, 80%, 86%), hsl(0, 74%, 74%));
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0 0.5rem 1rem hsla(0, 74%, 74%, 0.5);
  cursor: pointer;
  transition: all .3s;
}

.form-wrap button:hover {
  width: 80px;
  right: 0;
  background: linear-gradient(135deg, hsl(0, 76%, 89%), hsl(0, 56%, 76%));
}

.form-wrap .notify {
  color: var(--soft-red);
  position: absolute;
  bottom: -1.25rem;
  left: 1.5rem;
  
  opacity: 0;
  width: 0;
  overflow-x: hidden;
  transition: all .4s;
}

.form-wrap.error .notify {
  opacity: 1;
  width: fit-content;
}
